body {background-color: white;
	margin: 0;
	padding: 0;}

Ul#Meny {
    list-style-type: none;
    margin: 0;
    padding: 50;
    overflow: hidden;
    background-color: #66cc66;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 26px;
	font-family: Courier New;
    text-decoration: none;
	font-weight: bold;
}

li a:hover {
    background-color: #339933;
}

div#Header {background: #4d94ff;
			padding: 20px;}
div#start {background: white;}			
div#kolumn1 {border: solid white;
			width: 45%;
			background: #66cc66;
			display: inline-block; 
			float:left; 
			padding: 12.5px;}
div#prod {display:block; font-family: Malgun Gothic;  
			width: 45%; margin-left: auto; margin-right: auto; 
			background: #4d94ff; border: solid white; padding: 20px; float: right;}
div#adress {display: inline-block; width: 40%; margin-left: auto; margin-right: auto; float: left;}
div#org {display: inline-block; width: 80%;}

div#Link {display: block; width: 35%; margin-left: auto; margin-right: auto;}


h1#Header {color: white;
	font-family: Arial;
	font-style: italic;
	text-align: center;
	}
h2#products {text-align: center; font-family: Stencil; font-style: italic;}
h2 { color: black; font-family: times new roman; float: left; font-size: 230%;}	
h3#follow {color: blue;
			font-family: segoe ui;}
	
p#paragraf1 {color: white;
			font-weight: bold;
			font-size: 140%; margin-left: auto; margin-right: auto;}
p#orgnummer {text-align: left;
			font-weight: italic;
			font-family: helvetica;}
p#pdesc		{color: white; font-weight: bold; font-size: 140%; }	
			

			
img#img1 {display: block; margin-left: auto; margin-right: auto; width: 40%; padding: 30px;}
img#img2 {display: block; margin-left: auto; margin-right: auto; width: 70%;}
img#facebook {display: block; margin-left: auto; margin-right: auto; width: 15%; height: 15%; float: left;}
img#insta {display: block; margin-left: auto; margin-right: auto; width: 15%; height: 15%; float: left;}
img#Linkedin {display: block; margin-left: auto; margin-right: auto; width: 15%; height: 15%; float: left;}
img#package {display: block; width: 50%; height: 60%; float: left;}
img#pack {display: block; width: 40%; border: solid white; float:left;}

adress {font-size: 120%;
		font-family: Comic Sans;}




